[submodule "cjson"]
	path = third-party/cjson
	url = https://github.com/Aclass-third-party/cjson.git
[submodule "libuv"]
	path = third-party/libuv
	url = https://github.com/Aclass-third-party/libuv.git
[submodule "unity"]
	path = third-party/unity
	url = https://github.com/Aclass-third-party/unity.git
[submodule "sqlite"]
	path = third-party/sqlite
	url = https://github.com/Aclass-third-party/sqlite.git
